html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
.sidebar-content {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 250px;
}
.sidebar-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  align-self: flex-start;
  z-index: 10;
}
.sidebar-content ul li {
  margin-bottom: 25px;
}
.sidebar-content a {
  color: inherit;
  text-decoration: none;
}