backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

collections:
  - label: 'Pages'
    name: 'pages'
    editor:
      preview: false
    files:
      - label: 'Landing Page'
        name: 'Home'
        file: 'content/home.md'
        fields:
          - { label: Hero Title, name: title, widget: string }
          - { label: Hero Intro, name: intro, widget: markdown }
          - { label: Hero Background, name: heroBg, widget: image }
          - label: Videos
            name: videos
            widget: list
            fields:
              - { label: Title, name: title, widget: string }
              - { label: YouTube URL, name: url, widget: string }
              - { label: Thumbnail, name: photo, widget: image }
  # Blog collection
  - name: 'blog'
    label: 'Blog'
    folder: 'content/blog'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
