body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

@font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 100;
    src: local('Metric Light'), local('Metric-Light'), url("../fonts/Metric-Light.woff") format('woff');
}
  @font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 400;
    src: local('Metric Medium'), local('Metric-Medium'), url("../fonts/Metric-Medium.woff") format('woff');
}
  @font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 600;
    src: local('Metric Bold'), local('Metric-Bold'), url("../fonts/Metric-Bold.woff") format('woff');
}
body {
    background-color:white;
    font-weight:400;
    display:block;
    margin-top:10px;
    /* padding-left: 80px;
    padding-right: 80px; */
    align-items: center;
    }
div {
        display: block;
    }
*, :after, :before {
        box-sizing: inherit;
}
main{ 
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0px;
    min-height: 0px;
    flex-direction: column;
    flex: 0 0 auto;
    overflow: visible;
    font-family: Metric, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    flex: 0 1 1536px;    }
.swal2-popup a {
        color:rgb(27, 151, 108);
         /* Set the desired color for the anchor element */
}
      
.blogo {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0px;
    min-height: 0px;
    flex-direction: row;
    padding: 96px;}
.info {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0px;
    min-height: 0px;
    flex-direction: column;
}

.hpe-developer-community
    {    
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right:100%;
        font-size: 88px;
        line-height: 94px;
        max-width: 2122px;
        font-weight:900;
        position: relative; 
        /* transform:scale(1,1); */
    }

h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    
.para {
        font-size: 22px;
        /* line-height: 28px; */
        max-width: 538px;
      }

p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}
    
p.email{
        font-size:x-large;
        font-weight:bolder;
        color:rgb(27, 151, 108);
    }

img {
        max-width:100%;
        height:auto;
        overflow-clip-margin: content-box;
        overflow-x:clip;
        overflow-y:hidden; 
        color:#ffffff;
        padding-left:9px; 
    }
.container{
    display: flex;
    gap:3%;
}
.column2{
        flex: 0 0 auto;
        align-self: stretch;
        width: 96px;
        
    }
.column3{
        box-sizing: border-box;
        max-width: 100%;
        -webkit-box-align: center;
        align-items: center;
        min-width: 0px;
        min-height: 0px;
        flex-direction: column;
}
    
.hero-pic{
        position: relative;
    }

.content
{
        width:450px;
        background-color: black;
        margin-left:500px;
        height:50px;
        margin-top:-55px;
}
.information
    {
        background-color: rgb(23, 235, 160);
        height:50px;
        width: 450px;
    }
.form{
      padding-top:10px;
      height: 50px;
      width: 450px;
        /* box-shadow:px  rgb(23, 235, 160); */
      position: relative;
    }

input.field:hover{
        background-color: white;
        height:50px;
        width:450px;
        border:5px rgb(33, 182, 130);
        outline-style:solid;
        outline-color: rgb(33, 182, 130);
        outline-width:8px;
        font-size:20px;
        padding-left:10px;
        cursor:text;
    
    }
.field{
        background-color:white;
        height:50px;
        width:450px;
        border:10px black;
        border-color: black;
        outline-style:solid;
        outline-color: black;
        outline-width:5px;
        font-size:20px;
        padding-left:10px;
    }
.submit{
        background-color: white;
        /* transform: rotate(-90deg); */
        width:50px;
        height:30px;
        float:right; 
        margin-top:-38px;
        margin-right:5px;
        border: 5px rgb(23, 143, 101);  
        cursor:pointer;
        position:relative;
    }
.image1 {
        width: 450px;
        height: auto;
        margin-left: 350px;
        display: block;
        bottom: 0;
        position: absolute;
        max-width: 500px;
        right: 0;
        z-index: 5;
    }
/* @media only screen and (max-width: 420px)
    {
        .form{
            max-width:fit-content;
        }
        .para{
            font-size:xx-small;
            display:none;
        }
        .field{
            width:50%;
        }
        .heropic{
            margin-right:-5%;
        }
} */
@media only screen and (min-width: 480px) and (max-width: 1080px) 
{    
    body{
        margin-right:5%;
        margin-left:5%;
        }
    .para{
     font-size:14px;
     display: inline;
     clear:both;
    }
    .column2{
display: none;    }
    p.email{
      display:inline-block;  
      font-size: 20px;
      overflow:hidden; 
    }
    .hpe-developer-community{
      float:inherit; 
      font-size: 40px;
      line-height: 100%;
      flex-wrap:wrap;

    }
    .hero-pic{
        max-width:200px;
        margin-right: -40px;
        position:relative;
        flex-basis:auto; 
       margin-left:10%;
       /* display: flex; */
    }
} 

input:-webkit-autofill {
	background-color: #425563 !important;
	color: white !important;
}
.g-recaptcha, .g-recaptcha > div {
    margin: auto;
  }
  
    